html{
    font-size: 16px;
    font-family: serif;
    font-weight: 500;
}
body {
    background-color: #faeedb;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
h1 {
    color: #bca150;
    font-family: "Merriweather";
    margin: 8px;
}
.main-index div p {
    margin: 5px 10px;
}
.color-crema {
    background-color: #fdf7ee;
}
.margin-top {
    margin-top: 30px;
}
.main-origen div section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-origen div section p {
    font-size: 17px;
    margin: 8px;
}
.main-origen div section img{
    margin: 5px
}
.main-elaboracion div section {
    margin: 8px;
}
.main-crianza div section {
    margin: 10px;
}
.main-acercade div article {
    margin: 10px;
}
.main-acercade div section {
    margin: 10px;
}
footer section {
    display:flex ;
    flex-direction: row;
    justify-content: center;
}
footer p {
    display:flex ;
    justify-content: flex-end;
}
@media screen and (min-width:700px) {
.main-crianza div section iframe {
    width: 600px;
    height: 300px;
}
}
@media screen and (min-width:1050px) {
.main-index div section img {
    width: 35% !important;
}
.main-origen div section {
    flex-direction: row;
}
.main-origen div section img {
    width: 30% !important;
}
.main-crianza div section iframe {
    width: 900px;
    height: 450px;
}
}