@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/*estilo de letra general*/
html {
  font-size: 16px;
  font-family: serif;
  font-weight: 500; }

/*grid*/
body {
  background-color: #faeedb;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

/*header-nav*/
header {
  grid-area: header; }
  header nav .titulo-nav {
    font-family: "Merriweather";
    color: #806927; }
  header nav ul li a {
    border-radius: 1rem; }
    header nav ul li a:hover {
      background-color: rgba(168, 24, 24, 0.493); }

/*main*/
main {
  grid-area: main; }
  main h1 {
    color: #bca150;
    font-family: "Merriweather"; }

.color-crema {
  background-color: #fdf7ee; }

.second-part-index h2 {
  color: #bca150;
  font-family: "Merriweather";
  text-align: center; }

.second-part-index .flex-cards-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.second-part-index div div {
  background-color: #fcedc3; }
  .second-part-index div div:hover {
    transform: scale(1.03); }
  .second-part-index div div div .title-cards {
    font-family: "Merriweather";
    color: #806927;
    font-weight: 700; }
  .second-part-index div div div:hover {
    transform: scale(1); }

.crianza-text {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main-acercade div div h2 {
  color: #bca150;
  font-family: "Merriweather"; }

.color-crema {
  background-color: #fdf7ee; }

.resaltado {
  color: #bca150;
  font-family: "Merriweather";
  font-size: 20px; }

.resaltado-2 {
  font-family: "Merriweather";
  color: #806927;
  font-weight: 700;
  font-size: 1.2rem; }

.main-crianza section div p {
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.form-acerca-d {
  background-color: #fcedc3; }

.icon-img {
  width: 40px !important;
  height: 40px !important; }

.links-acercade {
  padding: 5px;
  margin-right: 1rem;
  margin-left: 1rem; }
  .links-acercade:hover {
    transform: scale(1.2); }

/*footer*/
footer {
  grid-area: footer;
  background-image: radial-gradient(circle at 50% -15.75%, #fce194 0, #fada8a 25%, #f8d280 50%, #f6ca76 75%, #f5c26d 100%); }
  footer:hover div h3 {
    animation: 3s 2 resaltar; }

.footer-1 {
  display: flex;
  justify-content: center; }
  .footer-1 h3 {
    color: #bca150;
    font-family: "Merriweather"; }

.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer-2 a img:hover {
    transform: scale(1.2); }

@keyframes resaltar {
  25% {
    color: #ff932f; }
  50% {
    color: #854d18; }
  75% {
    color: #bb6c38; }
  100% {
    transform: rotate(360deg); } }

/*media queries*/
@media screen and (min-width: 700px) {
  .map-iframe iframe {
    width: 500px;
    height: 400px; }
  .main-crianza section div img {
    width: 450px;
    height: 300px; }
  .main-crianza section div iframe {
    width: 600px;
    height: 300px; }
  .main-index section div div img {
    width: 400px; }
  .main-acercade section div img {
    width: 400px;
    height: 200px; }
  .main-origen section div img {
    width: 450px;
    height: 350px; } }

@media screen and (min-width: 1000px) {
  header nav div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header nav div a {
      margin-bottom: 10px; }
      header nav div a img {
        width: 150px;
        height: 150px; }
    header nav div div ul li {
      margin-left: 5px;
      margin-right: 5px; }
  .form-acerca-d {
    flex-direction: row; }
  .second-part-index div {
    flex-direction: row !important; }
  .ruptura-p {
    flex-direction: row !important; }
  .main-origen section div img {
    width: 600px;
    height: 400px; }
  .main-crianza section div img {
    width: 800px;
    height: 400px; }
  .main-crianza section div iframe {
    width: 900px;
    height: 450px; }
  .main-acercade section div {
    flex-direction: row !important; }
    .main-acercade section div img {
      width: 700px;
      height: 350px; } }
