@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$encabezados: (
color: #bca150,
estilo-letra: "Merriweather",
);
@mixin area($width, $height) {
    width: $width;
    height: $height;
}

/*estilo de letra general*/
html{
    font-size: 16px;
    font-family: serif;
    font-weight: 500;
}

/*grid*/
header {
    grid-area: header;
}
body {
    background-color: #faeedb;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
main {
    grid-area: main;
}

/*etilos caracteristicos*/
h1 {
    color: map-get($encabezados, color);
    font-family: map-get($encabezados, estilo-letra);
}
.color-crema {
    background-color: #fdf7ee;
}
.main-index section {
    h2 {
        @extend h1 ;
        text-align: center;
    }
    section {
        section {
            background-color: #f5dd97;
        }
    }
}
.resaltado{
    color: map-get($encabezados, color);
    font-size: 20px;
}
/*footer*/
footer {
    grid-area: footer;
    background-image: radial-gradient(circle at 50% -15.75%, #fce194 0, #fada8a 25%, #f8d280 50%, #f6ca76 75%, #f5c26d 100%);
    div {
        h3 {
            @extend h1 ;
        }
    }
}
/*media queries*/
@media screen and (min-width:700px) {
    
.main-crianza section div iframe {
    @include area(600px, 300px);
}
.main-index section {
    div{
        img{
            width: 400px;
        }
    }
    section {
    flex-direction: row !important;
    }
}
.main-acercade section div img {
    @include area(400px, 200px);
}

}
@media screen and (min-width:1000px) {
.main-origen section div section {
    flex-direction: row !important;
}
.main-crianza section div iframe {
    @include area(900px, 450px);
}
.main-acercade section div {
    flex-direction: row !important;
    img {
    @include area(700px, 350px);
}
}
}