/*media queries*/
@media screen and (min-width:700px) {
.map-iframe {
    iframe {
        width: map-get($area , 5);
        height: map-get($area , 4);
    }
}
.main-crianza {
    section {
        div {
            img {
                width: map-get($area , 4.5);
                height: map-get($area , 3);
            }
            iframe {
                width: map-get($area , 6);
                height: map-get($area , 3);
            }
        }
    }
}
.main-index {
    section {
        div{
            div {
                img{
                    width: map-get($area , 4);
                }
            }
        }
    }
}
.main-acercade {
    section {
        div {
            img {
                width: map-get($area , 4);
                height: map-get($area , 2);
            }
        }
    }
}
.main-origen {
    section {
        div {
            img {
                width: map-get($area , 4.5);
                height: map-get($area , 3.5);
            }
        }
    }
}
}
@media screen and (min-width:1000px) {
header {
    nav{
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                margin-bottom: 10px;
                img {
                    width: map-get($area , 1.5);
                    height: map-get($area , 1.5);
                }
            }
            div {
                ul {
                    li {
                        margin-left:5px;
                        margin-right:5px;
                    }
                }
            }
        }
    }
}
.form-acerca-d {
    flex-direction: row;
}
.second-part-index {
    div {
        flex-direction: row !important;
    }
}
.ruptura-p {
    flex-direction: row !important;
}
.main-origen {
    section {
        div {
            img {
                width: map-get($area , 6);
                height: map-get($area , 4);
            }
        }
    }
}
.main-crianza {
    section {
        div {
            img {
                width: map-get($area, 8);
                height: map-get($area, 4);
            }
            iframe {
                width: map-get($area, 9);
                height: map-get($area , 4.5);
            }
        }
    }
}
.main-acercade {
    section {
        div {
            flex-direction: row !important;
            img {
                width: map-get($area , 7);
                height: map-get($area , 3.5);
            }
        }
    }
}
}