@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*estilo de letra general*/
html{
    font-size: 16px;
    font-family: serif;
    font-weight: 500;
}
/*grid*/
body {
    background-color: #faeedb;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
/*etilos caracteristicos*/
h1 {
    color: map-get($encabezados, color);
    font-family: map-get($encabezados, estilo-letra);
}
.color-crema {
    background-color: #fdf7ee;
}
.resaltado{
    color: map-get($encabezados, color);
    font-size: 20px;
}
.titulo-nav {
    font-family: map-get($encabezados, estilo-letra);
    color:#806927;
}
.map-iframe {
    background-color: #f5dd97;
}
.icon-img {
    width: 30px !important;
    height: 30px !important;
}
.second-part-index {
    h2 {
        @extend h1 ;
        text-align: center;
    }
    div {
        div {
        background-color: #f5dd97;
        }
    }
}