/*footer*/
footer {
    grid-area: footer;
    background-image: radial-gradient(circle at 50% -15.75%, #fce194 0, #fada8a 25%, #f8d280 50%, #f6ca76 75%, #f5c26d 100%);
    &:hover{
        div {
            h3 {
            animation: 3s 2 resaltar;
            }
        }
    }
}
.footer-1 {
    display: flex;
    justify-content: center;
    h3 {
        @include encabezados;
    }
}
.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
        img {
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
@keyframes resaltar {
    25% {color: rgb(255, 147, 47);}
    50% { color: rgb(133, 77, 24);}
    75% { color: rgb(187, 108, 56);}
    100% {transform: rotate(360deg);}
}