/*main*/
main {
    grid-area: main;
    h1 {
        @include encabezados;
    }
}
.color-crema {
    background-color: #fdf7ee;
}
.second-part-index {
    h2 {
        @include encabezados;
        text-align: center;
    }
    .flex-cards-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div {
        div {
            background-color: $fondo-cards;
            &:hover{
                transform: scale(1.03);
            }
            div{
                .title-cards{
                    font-family: "Merriweather";
                     color:$color-Brown;
                    font-weight: 700;
                }
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}
.crianza-text {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main-acercade {
    div {
        div {
            h2{
                @include encabezados;
            }
        }
    }
}
.color-crema {
    background-color: #fdf7ee;
}
.resaltado{
    @include encabezados;
    font-size: 20px;
}
.resaltado-2 {
    font-family: "Merriweather";
    color:$color-Brown;
    font-weight: 700;
    font-size: 1.2rem;
}
.main-crianza {
    section {
        div {
            p {
                margin: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.form-acerca-d {
    background-color: $fondo-cards;
}
.icon-img {
    width: 40px !important;
    height: 40px !important;
}
.links-acercade {
    padding: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    &:hover {
        transform: scale(1.2);
    }
}